<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBF2bbA9VJUDWb5LLceX9t0B2iukC3Uhxw</string>
	<key>GCM_SENDER_ID</key>
	<string>903851235539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.coursemaster</string>
	<key>PROJECT_ID</key>
	<string>coursemaster-4c59f</string>
	<key>STORAGE_BUCKET</key>
	<string>coursemaster-4c59f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903851235539:ios:b9dc3cbc12b6b0f6ab5c26</string>
</dict>
</plist>